* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.new-product {
    padding: 16px;
    font-size: 46px;
}

#product-name, #product-qty, #product-price, .product-btn {
    margin-top: 16px;
}

.btn {
    width: 70px;
    height: 32px;
    margin-left: 76px;
}

#table {
    border: 1px solid #000;
}